body{
    width: 100%;
    height:100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 10fr 5fr;
    grid-template-rows:10vh auto 10vh;
    grid-template-areas: 
    "head head"
    "main tool"
    "foot foot";
}
.head{

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: yellow;
    width:100%;
    height:10vh;
    grid-area: head;
    /*position: fixed;*/
}
.headMenu{
    cursor: pointer;
    text-decoration: none;
    color:black;
}
.tool{
    grid-area: tool;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap:0.5rem;
    grid-template-areas:
    "pens pen"
    "box color"
    "tri color"
    "cir color"
    "down down"; 
    justify-content: space-around  ;
    align-items: center;
    flex-direction: column;
}

#pens{
    width:100%;
    height: 100%;
    border:0;
    background-color: #6DF2C1;
    outline: none;
    grid-area: pens;
}
#pens:hover{
    background-color: #5EBF9B;
}
#pens:active{
    background-color: #38A67E;
}
#pen{
    width:100%;
    height: 100%;
    border:0;
    background-color: #6DF2C1;
    outline: none;
    grid-area: pen;
}
#pen:hover{
    background-color: #5EBF9B;
}
#pen:active{
    background-color: #38A67E;
}
#box{
    width:100%;
    height: 100%;
    border:0;
    background-color: #6DF2C1;
    outline: none;
    grid-area:box;
}
#box:hover{
    background-color: #5EBF9B;
}
#box:active{
    background-color: #38A67E;
}
#tri{
    width:100%;
    height: 100%;
    border:0;
    background-color: #6DF2C1;
    outline: none;
    grid-area:tri;
}
#tri:hover{
    background-color: #5EBF9B;
}
#tri:active{
    background-color: #38A67E;
}
#cir{
    width:100%;
    height: 100%;
    border:0;
    background-color: #6DF2C1;
    outline: none;
    grid-area:cir;
}
#cir:hover{
    background-color: #5EBF9B;
}
#cir:active{
    background-color: #38A67E;
}
#color{
    width:98%;
    height: 100%;
    border:0;
    background-color: #6DF2C1;
    outline: none;
    grid-area:color;
}
#download{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    border:0;
    background-color: #6DF2C1;
    outline: none;
    text-decoration: none;
    color:black;
    grid-area:down;
}
#download:hover{
    background-color: #5EBF9B;
}
#download:active{
    background-color: #38A67E;
}
#myCanvas{
    grid-area: main;
    background-color: white;
    border:1px solid black;

}
.foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: yellowgreen;
    width: 100%;
    grid-area: foot;
}