body{
    margin:0;
    padding-left:1rem;
    padding-right:1rem;
    background-color: whitesmoke;
}

.form{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    background-color: whitesmoke;
    display:grid;
    grid-template-areas:
    "tool  main tool2 "
    "tool1 main tool2"
    "tool1 main tool2";
    grid-template-columns: 20rem 1fr 20rem;
    grid-template-rows: 5vh 50vh 40vh;
    gap: 1rem;
    
}

#myCanvas{
    grid-area: main;
    background-color: white;
    align-items: center;
    justify-self: center;
    width: 720px;
    height: 720px;
}

.tool{
    grid-area: tool;
    width:100%;
    height:100%;
    
}

#front{
    width: 4rem;
    height: 100%;
    border: 0;
    border-radius: 1rem;
    background-color: #6DF2C1;
    outline: none;
}

#back{
    width: 4rem;
    height: 100%;
    border: 0;
    border-radius: 1rem;
    background-color: #6DF2C1;
    outline: none;
}

.tool1{
    grid-area: tool1;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: left ;
    justify-content: space-around;
    
}

#pens{
    width: 4rem;
    height: 4rem;
    border: 0;
    border-radius: 1rem;
    background-color: #6DF2C1;
    outline: none;
}

#pen{
    width: 4rem;
    height: 4rem;
    border: 0;
    border-radius: 1rem;
    background-color: #6DF2C1;
    outline: none;
}

#box{
    width: 4rem;
    height: 4rem;
    border: 0;
    border-radius: 1rem;
    background-color: #6DF2C1;
    outline: none;
}

#tri{
    width: 4rem;
    height: 4rem;
    border: 0;
    border-radius: 1rem;
    background-color: #6DF2C1;
    outline: none;
}

#cir{
    width: 4rem;
    height: 4rem;
    border: 0;
    border-radius: 1rem;
    background-color: #6DF2C1;
    outline: none;
}

#download{
    width: 4rem;
    height: 4rem;
    border: 0;
    border-radius: 1rem;
    background-color: #6DF2C1;
    text-decoration: none;
    color:black;
    display: flex;
    align-items: center ;
}

.tool2{
    grid-area: tool2;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#color{
    width:7rem;
    height: 7.25rem;
    border:0;
    padding: 0;
}